*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Ubuntu', 'Inria Sans', 'Noto Sans TC';
    scroll-behavior: smooth;
}

.Paragraphs img{
    width: 100%;
}

/* Font Settings */
h1{
    font-family: 'Ubuntu','Noto Sans';
    color: #0E355B;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

h2{
    font-family: 'Ubuntu','Noto Sans';
    color: #0E355B;
    font-size: 24px;
    font-weight: 300;
    line-height: 26.8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    font-family: 'Ubuntu','Noto Sans';
    color: #0E355B;
    font-size: 18px;
    font-weight: 300;
    line-height: 26.8px;
}

p{
    font-family: 'Inria Sans','Noto Sans';
    color: #1D2730;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
}

ul{
    font-family: 'Inria Sans','Noto Sans';
    color: #1D2730;
    font-size: 16px;
    font-weight: 300;
}

/* Font settings End */

/* Navbar */
.navbar{
    width: 100%;
    background-color: rgb(255, 255, 255);
    top: 0; left: 0;
    z-index: 1000;
    align-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    position: fixed;
}

.navcontainer{
    width: 100%;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.brand, .navlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column-gap: 10px;
}

.brand img{
    max-width: 45px;
}

.brand a{
    color: #0e355b;
    text-align: left;
    align-self: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navlist ul{
    list-style: none;
    display: flex;
}

.navlist ul a{
    color: #1D2730;
    letter-spacing: .25px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
}

.navlist li a:hover{
    color: #FFDD28;
    transition: .3s ease;
    transition-property: background-color, color;
}


/* CV btn */
.CV-btn{
    margin-left: 10px;
    border: .0625rem solid #141731;
    border-radius: 3px;
    padding: 15px 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    background-color: #0E355B;
    transition: .3s ease;
    transition-property: background-color, color;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.CV-btn:hover{
    color: #0E355B;
    background-color: #ffffff;
    border: #0E355B;
    border: solid 1px;
}


/* End Navbar */

/* Banner */
.Banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.BannerContainer{
    width: 100%;
    margin: auto;
    max-width: 1110px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Left-sec{
    width: 60%;
}

.Left-sec img{
    max-width: 100%;
    height: auto;
}

@media screen and (min-width:1000px) {
    .Banner-img-ipad{
        display: none;
    }
}

@media screen and (max-width:1000px) {
    .Banner-img{
        display: none;
    }
}

.Right-sec{
    padding-left: 40px;
    padding-top: 30px;
}

.YellowLine{
    background-color: #FFDD28;
    height: 5px;
    width: 45px;
    margin: 1rem 0;
}

.Right-sec ul{
    line-height: 21px;
    margin: 20px;
}

.Right-sec li{
    margin-bottom: 10px;
}
/* End Banner */

/* Problem */
.Problem {
    max-width: 1440px;
    padding-top: 150px;
    padding-bottom: 70px;
    margin: auto;
}

.MissionVision {
    max-width: 1440px;
    padding-bottom: 70px;
    margin: auto;
}

/* OverView */
.OverViewcontainer {
    width: 100%;
    max-width: 1110px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.BlueDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.block{
    background-color: #0E355B;
    height: 10px;
    width: 10px;
}

.threeblocks{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.line{
    background-color: #0E355B;
    width: 100%;
    height: 1px;
}

.OverViewLists{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 70px;
}

.OverView ul{
    line-height: 27px;
    list-style: none;
}

.btnBox{
    display: flex;
    margin: auto 0px;
}

.Prototype-btn{
    border: 1px solid #0E355B;
    border-radius: 50px;
    padding: 10px 25px;
    margin-top: 20px;
    color: #0E355B;
    font-size: 16px;
    font-weight: 300;
    background-color: #ffffff;
    transition: .3s ease;
    transition-property: background-color, color;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0px;
}

.space{
    width: 20px;
}

.Prototype-btn img{
    height: 20px;
}

.Prototype-btn:hover{
    color: #ffffff;
    background-color: #0E355B;
    border: 1px solid #0E355B;
}

.ImgDiv{
    margin: 100px auto;
    display: flex;
    justify-content: center;
}

.ImgDiv img{
    max-width: 100%;
}

@media screen and (max-width:646px) {
    .OverViewLists{
        justify-content: flex-start;
    }

    .next-arrow{
        display: none;
    }
}

/* End OverView */

/* Fediverse-Recherche */
.container{
    width: 100%;
    max-width: 1110px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.row-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
}

.Title{
    width: 30%;
}

.Paragraphs{
    margin-top: 1rem;
    width: 70%;
}

.Paragraphs ul{
    line-height: 27px;
    padding-left: 20px;
}

.Paragraphs .black{
    font-weight: 700;
}

.PwithImg{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-p, .right-img {
    width: 100%;
}

.h3title{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 15px;
}

.h3title h3{
    width: 50%;
}

/* End Fediverse-Recherche */


/* Herausforderung */
.Herausforderung .container{
    padding-top: 100px;
}

.Worksheet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    margin-top: 40px;
}

.WorksheetImg img {
    height: 100%;
    object-fit: cover;
}

.WorksheetImg {
    width: 48%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .2);
}

@media screen and (max-width:420px){
    .WorksheetImg {
        width: 47%;
    }
}

/* End Herausforderung */


/* 1.Usability-Test */
.First-Usability-Test .container{
    padding-top: 100px;
}

.ThreeCols, .TwoCols{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
}

.Cols{
    width: 100%;
}

.Cols h3{
    margin-bottom: 10px;
}

/* End 1.Usability-Test */


/* Benutzerempathie */
.Benutzerempathie .container{
    padding-top: 100px;
}

.Benutzerempathie img{
    box-shadow: 0 0px 10px rgba(0, 0, 0, .2);
}

.PersonaImg{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    gap: 15px;
}

.PersonaImg img{
    width: 32%;
}

@media screen and (max-width:500px){
    .PersonaImg{
        flex-wrap: wrap;
    }

    .PersonaImg img{
        width: 47%;
    }
    
}

/* End Benutzerempathie */

/* Corporate Design */
.CorporateDesign .container{
    padding-top: 100px;
}

.FarbenBricks{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.Brick-1{
    width: 50%;
    height: 50px;
    text-align: center;
    align-content: center;
    color: #000000;
    background-color: #C3EA6F;
}

.Brick-2{
    width: 50%;
    height: 50px;
    text-align: center;
    align-content: center;
    color: #000000;
    background-color: #48D680;
}

.Brick-3{
    width: 50%;
    height: 50px;
    text-align: center;
    align-content: center;
    color: #ffffff;
    background-color: #0F3130;
    border: 1px solid;
}

.Brick-4{
    width: 50%;
    height: 50px;
    text-align: center;
    align-content: center;
    color: #000000;
    background-color: #F2CA24;
}

.Brick-5{
    width: 50%;
    height: 50px;
    text-align: center;
    align-content: center;
    color: #000000;
    background-color: #22D085;
}

.Brick-6{
    width: 50%;
    height: 50px;
    text-align: center;
    align-content: center;
    color: #000000;
    background-color: #74DD7A;
}

.Brick-7{
    width: 50%;
    height: 50px;
    text-align: center;
    align-content: center;
    color: #000000;
    background-color: #9FE474;
}

.Brick-8{
    width: 50%;
    height: 50px;
    text-align: center;
    align-content: center;
    color: #000000;
    background-color: #48D680;
}

.NubisLogo{
    box-shadow: 0 0px 10px rgba(0, 0, 0, .2);
}

/* End Corporate Design */


/* Marketing */
.Marketing .container{
    padding-top: 100px;
}

.Marketing .Layout{
    margin-top: 20px;
}

.Less-mgt{
    margin-top: 10px;
}

/* End Marketing */


/* 2. Usability-Test */
.Second-Usability-Test .container{
    padding-top: 100px;
}

.Second-Line{
    margin-top: 10px;
}

.Second-Usability-Test img{
    padding: 20px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .2);
}

/* End 2. Usability-Test */

/* popup-img */
.image{
    cursor: pointer;
    overflow: hidden;
}

.popup-img{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none;
}

.popup-img span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #ffffff;
    cursor: pointer;
}

.popup-img img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-height: 750px;
    height: 80%;
    object-fit: scale-down;
}

@media screen and (max-width:1110px){
    .popup-img img{
        width: 90vw;
    }
}
/* End popup-img */


/* Projektreflexion */
.Projektreflexion .container{
    padding-top: 100px;
}

.Projektreflexion .h3title h3 {
    width: 76%;
}


/* End Projektreflexion */



/* Footer */
Footer{
    margin-top: 150px;
}

Footer p{
    font-size: 12px;
    text-align: center;
    margin: 10px auto;
}

Footer a{
    color: #141731;
    text-decoration: none;
}

/* End Footer */



/* Media screen */
@media screen and (max-width:560px){
    .h3title h3 {
        width: 100%;
    }
}


@media screen and (max-width:1000px) {
    /* Navbar */
    #navlist{
        position: fixed;
        left: 0; top: 0;
        width: 100%;
        height: 0;
        z-index: 3000;
        overflow:hidden;
        background-color: #fff;
        transition: height 1s;
        display: flex;
        flex-direction: column;      
    }

    #navlist.active{
        height: 100vh;
        overflow: auto;
    }

    #navlist ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }

    .navlist li{
        margin-bottom: 16px;
    }

    #navlist a:hover{
        color: #E1B000;
    }

    #menutoggle{
        position: fixed;
        right: 0; top: 0;
        padding: 1.5em 2em;
    }

    #menutoggle:before,
    #menutoggle:after,
    #menutoggle > div{
        display: block;
        content: '';
        width: 2em;
        height: 2px;
        background-color: #0E355B;
        margin: 6px 0;
        transition: all 0.5s;
    }

    .active #menutoggle:before{
        transform: translateY(8px) rotate(225deg);
    }
    .active #menutoggle:after{
        transform: translateY(-8px) rotate(-225deg);
    }
    .active #menutoggle > div{
        opacity: 0;
    }
    /* End Navbar */
}

@media screen and (max-width:800px) {
    
    /* Banner */
    .Banner-img{
        display: unset;
    }
    .Banner-img-ipad{
        display: none;
    }
    .BannerContainer{
        flex-direction: column;
    }
    
    .Left-sec{
        width: 100%;
    }

    .Right-sec{
        width: 100%;
        padding-left: 0px;
        padding-top: 40px;
    }


    /* Overview protoptye btn */
    .Prototype-btn{
        border: 1px solid #0E355B;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        background-color: #0E355B;
    }


    /* Fediverse-Recherche*/
    .content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .row-content{
        flex-direction: column;
        gap: 0px;
    }

    .Title, .Paragraphs{
        width: 100%;
    }


    /* Benutzerempathie */
    .ThreeCols, .TwoCols{
        display: flex;
        flex-direction: column;
        gap: 30px
        ;
    }

}

