html{
	scroll-behavior: smooth;
}

body{
	padding: 0;
}

.fullBG{
	padding: 0;
}

.fullBG > .wp-block-cover__image-background{
	position: fixed;
}


.columns-2{
	display: flex;

}

.columns-2 > div:first-child{
	flex-basis: 25%;
	flex-grow: 0; flex-shrink: 0;
	align-self: flex-start;
	position: sticky;
	top: 0;
}

.columns-2 > div:last-child{
	flex-grow: 1; 
	margin-block-start: 0;
}

.banner{
	background-size: cover;
	background-position: top center;
	position: relative;
}