*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Serif TC', 'Noto Serif', "MingLiU", serif;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    height: auto;
}

.sub-title{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 30px;
}

.big-frame{
    padding-top: 200px;
}

/* h settings */
h1{
    color: #fff;
    font-size: 45px;
    font-weight: 200;
    writing-mode: vertical-rl;
    letter-spacing: 0.5rem;
    text-orientation: mixed;
}

/* end h settings */

/* Header */
.section{
    min-height: 60px;
    width: 100%;
    background-color: #2C1D01;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0; left: 0;
    z-index: 5000;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 5rem; padding-right: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img{
    max-height: 45px;

}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header ul{
    list-style: none;
    display: flex;
}

header ul a{
    text-decoration: none;
    display: block;
    padding: 0 1vw;
    color: #fff;
}

/* End Header */

/* Banner */

.section-1{
    margin-top: 60px;
    min-height: 100vh;
    background-image: url(./img/Banner.png);
    background-size: cover;
    background-position: top center;
    position: relative;
}

.banner{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    max-width: 1400px;
    margin: auto;
}

.banner .left_sec {
    flex-basis: 60%;
    margin-right: 40px;
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
	align-items: end;
} 

.banner .vtc-line{
	border-left: 1px solid #fff;
  	height: 70vh;
    margin-right: 15px;
}

.order-box{
	outline: solid #fff 1px;
	width: 80px;
	height: 80px;
	background-color: transparent;
	margin: 5px;
}

.order-box a{
	color: #fff;
    font-size: 24px;
    font-weight: 400;
	text-decoration: none;
	display: block;
	text-align: center;
	line-height: 30px;
	word-spacing: 3px;
	margin: 10px;
}

.banner .right_sec{
    /* min-width: 240px; */
    margin-top: 3rem;
}

.big-logo img{
	mix-blend-mode: screen;
    height: 60vh;
}

/* End Banner */

/* Fixed BG */

.fixed-bg{
    background-image: url('./img/Fix-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* End Fixed BG */

/* Menu */

.menu, .story, .reservation, .footer {
    max-width: 1400px;
    margin: auto;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;
}

.menu img{
    max-height: 80vh;
}

/* Open img */

.modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
.modal-content {
    margin: auto;
    margin-top: 10vh;
    display: block;
    max-width: 1000px;
  }
  
.close {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
  }  

/* End Open img */

.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: 30px;
}

.menu h1 span{
    display: inline-block;
    transform: rotate(-90deg);
    letter-spacing: 0;
}

.menu-title .vtc-line{
    border-left: 1px solid #fff;
    height: 80vh;
    margin-left: 15px;
}

/* End Menu */

/* CTA */

.cta{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.hzt-line{
    border-bottom: 1px solid #fff;
    width: 40%;
    margin: 20px;
}

/* End CTA */

/* Gallery */

.gallery {
    max-width: 1400px;
    margin: auto;
    padding-left: 5rem;
    padding-right: 5rem;
    column-count: 5;
    column-gap: 10px;
}
  
.gallery-img, .gallery-img-2 {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

/* End Gallery */

/* Story */

.story .vtc-line{
	border-left: 1px solid #fff;
  	height: 80vh;
	margin-right: 15px;
}

.story-content{
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.story-title {
    flex-basis: 30%;
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
	align-items: start;
    margin-right: 30px;
} 

.top-section, .bottom-section{
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    margin: auto;
    align-items: end;
}

.bottom-section{
    margin-top: 50px;
}
  
.image-1, .image-2 {
    max-width: 300px;
    height: 100%;

}

.story-content img{
    aspect-ratio: 1/1;
    object-fit: cover;
}

p{
    color: #fff;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 4px;
}

.image-1{
    margin-right: 50px;
}

.bottom-text{
    margin-right: 50px;
}

/* End Story */

/* reservation */

#reservation-frame{
    padding-bottom: 120px;
}

.reservation{
    background-color: rgba(30, 20, 3, .8);
    padding-top: 70px;
    padding-bottom: 70px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


label {
    color: #fff;
}

form {
    display: flex;
    justify-content: start;
    margin-top: 20px;
}

.number, .datetime {
    display: flex;
    justify-content: center;
}

input[type=text], [type=number], [type=datetime-local] {
    width: 300px;
    padding: 12px 20px;
    margin-top: 10px;
    margin-right: 20PX;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 14px;
    background: none;
    color: #fff;
}

label {
    font-size: 16px;
}

::placeholder{
    color: #fff;
}

input[type=submit]{
    width: 300px;
    padding: 12px 20px;
    margin-top: 10px;
    margin-right: 20PX;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    color: #2C1D01;
}

.submit{
    margin-top: 23px;
}

.reservation-title, .contact-title {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
	align-items: start;
} 

.reservation-title .vtc-line {
    border-left: 1px solid #fff;
	margin-left: 15px;
    height: 210px;
}

/* End Reservation */

/* Footer */

footer{
    max-height: 480px;
    background-image: url(./img/Footer-BG.png);
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 180px;
}

.footer{
    align-items: center;
}

.contact-title .vtc-line {
    border-left: 1px solid #fff;
	margin-right: 15px;
    height: 210px;
}

.white-square{
    display: inline-block;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px ;
}

.white-square p{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 4px;
}

.copyright{
    height: 60px;
    background: #2C1D01;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff;
}

/* End Footer */

@media screen and (min-width:1800px){
    /* Footer */
    .white-square{
        max-width: 1000px;
    }
}


@media screen and (max-width:1300px){
    /* reservation */
    input[type=text], [type=number], [type=datetime-local] {
        width: 24vw;
    }

    input[type=submit]{
        width: 24vw;
    }
}

@media screen and (max-width:1200px){
    /* banner */
    .big-logo img{
        height: auto;
    }
    
    /* Gallery */
    .gallery {
        column-count: 4;
    }

    /* Footer */
    .white-square{
        padding: 60px ;
    }

    footer{
        padding-bottom: 100px;
    }
}

@media screen and (max-width:900px){
    /* Gallery */
    .gallery {
        column-count: 3;
    }

    /* Menu */
    .menu-title .vtc-line{
        height: 35vh;
    }

    /* Story */
    .story .vtc-line{
        height: 55vh;
    }

    .image-1, .image-2 {
        min-width: 200px;
        display: flex;
        flex-basis: 50%;
    }

    .top-text, .bottom-text{
        display: flex;
        flex-basis: 50%;
    }

    .image-1{
        margin-right: 20px;
    }
        
    .bottom-text{
        margin-right: 20px;
    }

    /* reservation */
    input[type=text], [type=number], [type=datetime-local] {
        width: 20vw;
    }
    
    input[type=submit]{
        width: 20vw;
    }
}

/* Phone */
@media screen and (max-width:800px){
    .container, .banner, .menu, .cta, .gallery, .story, .reservation, .footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    /* Header */
    #navbar{
        position: fixed;
        left: 0; top: 0;
        width: 100%;
        height: 0;
        z-index: 3000;
        overflow:hidden;
        background-color: rgba(30, 20, 3, .9);
        transition: height 1s;
        
    }

    #navbar.active{
        height: 100vh;
        overflow: auto;
    }

    #navbar ul{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #navbar a{
        color: #FFF;
        margin-bottom: 24px;
        font-size: 16px;
    }

    #navbar a:hover{
        color: #E1B000;
    }

    #menutoggle{
        position: fixed;
        right: 0; top: 0;
        padding: 1em 2em;
    }

    #menutoggle:before,
    #menutoggle:after,
    #menutoggle > div{
        display: block;
        content: '';
        width: 2em;
        height: 2px;
        background-color: #FFF;
        margin: 6px 0;
        transition: all 0.5s;

    }

    .active #menutoggle:before{
        transform: translateY(8px) rotate(225deg);
    }
    .active #menutoggle:after{
        transform: translateY(-8px) rotate(-225deg);
    }
    .active #menutoggle > div{
        opacity: 0;
    }
    
    /* End Header */
}

@media screen and (max-width:650px){
    .big-frame{
        padding-top: 150px;
    }
    h1{
        font-size: 30px;
    }

    /* Menu */
    .menu-title .vtc-line{
        height: 235px;
        margin-left: 0;
    }
    
    /* Story */
    .story .vtc-line{
        height: 770px;
        margin-right: 0;
    }
    
    .story-title{
        margin-right: 0;
    }

    .top-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        max-width: 1400px;
        margin: auto;
        align-items: center;
        margin-bottom: 2rem;
    }
    .bottom-section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 1400px;
        margin: auto;
        align-items: center;
    }
    .image-1{
        margin-right: 0;
    }
        
    .bottom-text{
        margin-right: 0;
    }
    .story-content p{
        margin-bottom: 1rem;
        max-width: 300px;
    }

    /* CTA */
    .hzt-line{
        border-bottom: 1px solid #fff;
        width: 5rem;
        margin: 20px;
    }

    /* Gallery */
    .gallery {
        column-count: 2;
    }
    .gallery-img-2{
        display: none;
    }

    /* reservation */
    form {
        margin-top: 0;
    }

    .first-row, .number, .datetime, .sec-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .D-and-T, .Tel, .Nam {
        margin-top: 1rem;
    }

    input[type=text], [type=number], [type=datetime-local], input[type=submit] {
        width: 250px;
    }

    .submit{
        margin-top: 23px;
    }

    .reservation-title .vtc-line {
        height: 145px;
        margin-left: 0;
    }

    /* Footer */
    .white-square{
        padding: 24px ;
    }

    footer{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .white-square p{
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 2px;
    }

    .contact-title .vtc-line {
        margin-right: 0px;
        height: 145px;
    }

}
